<div>
  <div>
    <div>
      <h3><%= t(:new_shipping_address, scope: :address_book) %></h3>
    </div>
    <div>
      <%= render 'spree/shared/error_messages', target: @address %>
      <%= form_for @address, html: { id: 'checkout_form_address' } do |f| %>
        <fieldset>
          <div>
            <%= render 'spree/addresses/form',
              address_name: 'address',
              address_form: f,
              address_type: 'shipping',
              address: @address
            %>
          </div>
          <%= f.submit t(:save, scope: :address_book)%>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
