<div class = 'user_addresses'>
  <h3><%= t(:shipping_addresses, scope: :address_book) %></h3>
  <% if spree_current_user.addresses.present? %>

  <table id='user_addresses' class="table table-striped">
    <tbody>
      <% spree_current_user.addresses.each do |address| %>
      <tr class="<%= cycle("odd", "even")  -%>" >
        <td><%= address.to_s%></td>
        <td class = 'action-btn'>
          <%= link_to Spree.t(:edit), edit_address_path(address), class: :button %>&nbsp;
          <%= link_to Spree.t(:remove), address_path(address), method: :delete, "data-confirm": Spree.t(:are_you_sure), class: 'button btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div id='users-address-list-empty'>
    <%= t(:no_shipping_addresses_on_file, scope: :address_book) %>
  </div>
  <% end %>
  <div id='new_address_link'>
    <%= link_to t(:add_new_shipping_address, scope: :address_book), {controller: :addresses, action: :new}, class: :button %>
  </div>
</div>